<!DOCTYPE html>
<html lang="en" ng-app="ToDoApp">
<head>
	<meta charset="UTF-8">
	<title>AngularJS ToDo App</title>
	
	<link rel="stylesheet" type="text/css" href="css/common.css">

	<script type="text/javascript" src="js/common.min.js"></script>
</head>
<body ng-controller="CommonCtrl as vm">
	<div class="wrapper">
		<h1>ToDo app</h1>

		<input type="text" name="title" placeholder="Title" ng-model="vm.todo.title">
		<input type="text" name="text" placeholder="Text" ng-model="vm.todo.text">
		<br>
		<button ng-click="vm.addTask()" ng-disabled="(!vm.todo.title || !vm.todo.text)" ng-show="(vm.change_id === null)">Add task</button>
		<button ng-click="vm.changeTask()" ng-disabled="(!vm.todo.title || !vm.todo.text)" ng-show="(vm.change_id !== null)">Finish edit</button>
		<a href="#" ng-click="vm.showCompleted = true" ng-show="(vm.showCompleted === false)">Show completed</a>
		<a href="#" ng-click="vm.showCompleted = false" ng-show="(vm.showCompleted === true)">Hide completed</a>

		<ul ng-repeat="(key, value) in vm.todos | orderBy:'title':true" ng-show="(vm.change_id === null)">
			<li ng-class="{completed: value.completed}" ng-show="((vm.showCompleted && value.completed) || (!value.completed && !vm.showCompleted))">
				<h2>{{value.title}}</h2>
				<p>{{value.text}}</p>
				<a href="#" ng-click="vm.editTask(key)">Change</a>
				<a href="#" ng-click="vm.removeTask(key)">Remove</a>
				<a href="#" ng-click="vm.completeTask(key)" ng-show="(!value.completed)">Mark as completed</a>
			</li>
		</ul>

		
	</div>
</body>
</html>